KAFKA_FERNET_KEY=your_encryption_key_here
POSTGRES_DB=your_db_name
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_user_password
POSTGRES_HOST=timescaledb
POSTGRES_PORT=5432
KAFKA_BOOTSTRAP_SERVERS=kafka:9092